
// Define variables for your color scheme

$pink: #ff0078;
$light-gray: #f6f6f6;
$gray: #414141;
$dark-gray: #2b2b2b;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

